<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Floating element</title>
    <style>
      .avatar {
        width: 5rem;
        height: 5rem;
        background-color: gold;
        float: left;
        margin-right: 0.5rem;
      }
      .clear {
        clear: both;
      }
      .tweet {
        border: 3px solid lightgrey;
      }
      .clearfix::after {
        content: "";
        display: block;
        clear: both;
      }
    </style>
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
    </article>
  </body>
</html>
