<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Overflow</title>
    <style>
      .box {
        width: 200px;
        height: 200px;
        border: 5px solid gold;
        overflow: auto;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sequi non
        expedita ipsam illo! Enim minima mollitia et modi asperiores amet aut
        tempore eos animi, qui vitae quas optio accusamus doloribus quibusdam
        rerum porro dignissimos ex eum! Dicta qui, sunt deserunt pariatur quod
        exercitationem quae veritatis corrupti, maxime ducimus maiores.
      </p>
    </div>
  </body>
</html>
